# .github/workflows/telegram-uploader.yml
name: Telegram Movie Uploader

on:
  workflow_dispatch:
    inputs:
      chat_id:
        description: 'معرف القناة/الجروب (ID القناة)'
        required: true
        type: string
        default: '1548535280'  # ✅ المعرف الصحيح
      content_name:
        description: 'اسم الفيلم'
        required: true
        type: string
        default: 'Truth & Treason 2025'
      image_url:
        description: 'رابط صورة الغلاف'
        required: true
        type: string
        default: 'https://img.downet.net/uploads/U8xQf.webp'
      video_url:
        description: 'رابط الفيديو (.mp4 فقط)'
        required: true
        type: string
